<div id="contenedor">
    <div class="item">
        <img src="../../assets/logos/email.svg" alt="Email" title="Email">
        <a href="mailto:jesusdrp09@gmail.com"><p> Jesusdrp09@gmail.com</p></a>
    </div>
    <div class="item">
        <img src="../../assets/logos/linkedin.svg" alt="LinkedIn" title="LinkedIn">
        <a href="https://www.linkedin.com/in/jesusriosp"><p> Jesús David Ríos Pérez</p></a>
    </div>
    <div class="item">
        <img src="../../assets/logos/github-mark.svg" alt="GitHub" title="GitHub">
        <a href="https://github.com/Jesusdrp09"><p> Jesusdrp09</p></a>
    </div>
    <div class="item">
        <img src="../../assets/logos/phone.svg" alt="Phone" title="Phone">
        <a href="/contact"><p> +57 301 587 8948</p></a>
    </div>
</div>
