<h1 class="title">PROGRAMMING</h1>
<div id="programming">
    <img src="../../assets/logos/python.png" alt="Python (Junior-Middle)" title="Python (Junior-Middle)"  class="tool">
    <img src="../../assets/logos/java.png" alt="Java (Junior-Middle)" title="Java (Junior-Middle)" class="tool">
    <img src="../../assets/logos/cplus.png" alt="C++ (Junior)" title="C++ (Junior)" class="tool">
    <img src="../../assets/logos/C.png" alt="C (Junior)" title="C (Junior)" class="tool">
    <img src="../../assets/logos/dart.png" alt="Dart (Junior)" title="Dart (Junior)" class="tool">
    <img src="../../assets/logos/javascript.svg" alt="Javascript (Junior)" title="Javascript (Junior)" class="tool">
    <img src="../../assets/logos/angular.png" alt="Angular (Junior)" title="Angular (Junior)" class="tool">
    <img src="../../assets/logos/HTML.png" alt="HTML" title="HTML" class="tool">
    <img src="../../assets/logos/css.png" alt="CSS" title="CSS" class="tool">
    <img src="../../assets/logos/bootstrap.svg" alt="Bootstrap" title="Bootstrap" class="tool">
    <img src="../../assets/logos/git.png" alt="Git" title="Git" class="tool">
    <img src="../../assets/logos/github.png" alt="GitHub" title="GitHub" class="tool">
</div>
<h1 class="title">LANGUAGES</h1>
<p class="languages">
    &#123;"SPANISH": "Native"&#125; <br>
    &#123;"ENGLISH":"B1"&#125;
</p>