<h1>MY JOB</h1>
<div class="items">
    <p>
        R&R Consultorías S.A.S. <br>
        Job Position: Research Auxiliar <br>
        Topic: Voice Digital Assistant  <br>
        Time: Dec. 2022 - Present
    </p>
</div>
<h1>MY PROJECTS</h1>
<div id="projects">
    <div class="items">
        <p>
            ChatBot Tashi Epieyú <br>
            Topic: Assistant about PQR <br>
            Organization: GIDSYC Seedbed <br>
            Date: 2020
        </p>
    </div>
    <div class="items">
        <p>
            ChatBot Profe Alex <br>
            Topic: POO Virtual Teacher <br>
            Organization: GIDSYC Seedbed <br>
            Date: 2021
        </p>
    </div>
</div>
<div class="items">
    <p>
        Sentiment Analysis System <br>
        Topic: Pandemic Time in Colombia <br>
        Organization: GIDSYC Seedbed <br>
        Date: 2022
    </p>
</div>
